$white: #FFFFFF;
$black: #2D2D2D;

:root {
  --ww-white: #FFFFFF;
  --ww-black: #2D2D2D;
}

$colors: (
  "black": $black, 
  "white": $white,
);

@each $name, $hex in $colors {
  .#{$name} {
    background-color: #{$hex};

    &--text {
      color: #{$hex} 
    }

    &--text > * {
      color: #{$hex} 
    }

    &--border {
      border-color: #{$hex};
      border-width: 0.125rem;
	    border-style: solid;
    }
  }
}