.widget {
    width: 200px;
    max-width: 100%;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px;
    background-color: var(--ww-white);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    &-city {
        font-size: 24px;
    }

    &-temp {
        font-size: 36px;
    }

    &-controls {
        .refresh {
            width: 20px;
            cursor: pointer;
        } 
    }
}

