@import 'colors.module';
@import 'layout.module';
@import 'animations.module';
@import 'fonts.module';

html, 
body {
    margin: 20px;
    box-sizing: content-box;
}

p {
    margin: 0;
}

.flex {
    display: flex;

    &-center {
        justify-content: center;
    }

    &-right {
        justify-content: right;
    }

    &-column {
        flex-direction: column;
    }
}

.text {
    &-align {
        &-center {
            text-align: center;
        }
    }
}