.widget {
    width: 200px;
    height: 300px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 12px;
    background: var(--ww-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    position: relative;
    
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        border-radius: 12px;
        background-color: var(--ww-clouds);
        pointer-events: none;
        transition: opacity 0.25s;
    }

    &.fill {
        width: 100%;
        min-height: 100%;
    }

    &.refreshing {        

        &:after {
            opacity: 1;
        }

        .widget-blur {
            filter: blur(50px);
        }        
    }

    &-blur {
        transition: filter 0.25s;
        position: relative;
        z-index: 1000;
    }

    &-city {
        font-size: 24px;
        font-weight: 700;
    }

    &-temp {
        font-size: 36px;
    }

    &-error {
        min-height: 20px;
        font: var(--ww-black);
        word-wrap: break-word;
    }

    &-controls {
        position: absolute;
        top: 12px;
        left: 12px;
        width: calc(100% - 24px);
        z-index: 1000;
        .refresh {
            width: 20px;
            cursor: pointer;
        } 
    }

    .img-container {
        height: 50px;
        width: 50px;
        margin: 0 auto;
    }

    img {

        &.refreshing {
            -webkit-animation:spin 1s ease infinite;
            -moz-animation:spin 1s ease infinite;
            animation:spin 1s ease infinite;
        }
    }

    .error-text {
        font-weight: bold;
    }

    &.error {
        background-color: var(--ww-thunderstorm);
        color: var(--ww-black);
        background: linear-gradient(336deg, var(--ww-error) 0%, var(--ww-error) 50%, var(--ww-error) 100%);
    }

    &.code-2 {
        color: var(--ww-white);
        background: linear-gradient(336deg, var(--ww-thunderstorm) 0%, var(--ww-thunderstorm) 10%, var(--ww-black) 100%);
    }

    &.code-3 {
        color: var(--ww-black);
        background: linear-gradient(336deg, var(--ww-drizzle) 0%, var(--ww-drizzle) 35%, var(--ww-rain) 100%);
    }

    &.code-5 {
        color: var(--ww-black);
        background: linear-gradient(336deg, var(--ww-rain) 0%, var(--ww-clouds) 35%, var(--ww-thunderstorm) 100%);
    }

    &.code-6 {
        color: var(--ww-black);
        background: linear-gradient(336deg, var(--ww-snow) 0%, var(--ww-snow) 35%, var(--ww-clear) 100%);
    }

    &.code-7 {
        color: var(--ww-black);
        background: linear-gradient(336deg, var(--ww-clear) 0%, var(--ww-thunderstorm) 35%, var(--ww-atmosphere) 100%);
    }

    &.code-800 {
        color: var(--ww-black);
        background: linear-gradient(336deg, var(--ww-sun) 0%, var(--ww-sun) 10%, var(--ww-clear) 100%);
    }

    &.code-8 {
        color: var(--ww-black);
        background: linear-gradient(336deg, var(--ww-drizzle) 0%, var(--ww-clouds) 35%, var(--ww-atmosphere) 100%);
    }
}

